* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-size: 16px;
    font-family: Verdana, Tahoma, sans-serif;
    line-height: 1.5;
    background-color: rgb(62, 62, 62);
    color: rgb(176, 170, 159);
    text-wrap: balance;
}

.content-index {
    max-width: 960;
    text-align: center;
    margin: auto;
}

div.title-div {
    margin: 20px 10px 20px 10px;
    background-color: rgb(68, 68, 78);
    border: 2px groove black;
}

.title-index {
    font-style: italic;
    margin: 0px;
}

div.banner {
    background-color: rgb(68, 68, 78);
    border: 2px groove black;
    margin: 0 10px 0 10px;
}

.banner-image {
    width: 300px;
    margin: 5px;
    border: 2px groove black;
}

.links-home {
    background-color: rgb(68, 68, 78);
    border: 2px groove black;
    padding: 2px 20px 2px 20px;
    display: inline-block;
    text-align: left;
}

a:link {
    color: rgb(102, 133, 224);
  }

a:visited {
    color: rgb(50, 100, 170);
}

a:hover {
    color: rgb(109, 133, 166);
}

strong,
h3 {
    color: rgb(170, 185, 202);
    text-decoration: underline;
}

h3 em {
    color: rgb(49, 120, 150);
}

.para {
    font-style: italic;
}

.para2 {
    font-size: 22px;
}

.para.para2 {
    font-weight: bold;
}

